/**************************************************************************/
/**************************************************************************/
/***************************FONTS BEGIN************************************/

@font-face
{
    font-family: Matias;
    src: url(/static/fonts/Matias.otf);
}

/***************************FONTS END***************************************/
/****************************************************************************/
/**************************NAVBAR BEGIN************************************/

.navbar
{
    position: fixed !important;
    width: 100%;
    z-index: 2;
}

.navbar .dropdown
{
    padding: 8px 0 0 0;
}

.navbar .nav li.dropdown.open, .navbar .nav li.dropdown.open > .dropdown-toggle
{
    background: transparent !important;
}

.btn-auth
{
    cursor: pointer;
    margin: 7px 0 0 0 !important;
    vertical-align: middle;
}

.btn-signout
{
    color: #333333 !important;
    cursor: pointer;
    margin: 7px 0 0 0 !important;
}

.btn-signout:hover
{
    background-color: #e6e6e6 !important;
}

.nav__logo
{
    height: 40px;
}

.nav__li
{
    font-size: large;
}

.li-nobs /*No Bootstrap Class*/
{
    margin: 8px 0 0 0;
}

.divider-nobs
{
    font-size: 25px;
}

.auth-forms
{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    display: none;
    height: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 62px;
    width: 250px;
    z-index: 5;
}

.vk-btn /*картинка*/
{
    height: 50px;
}

.btn-vk /*кнопка*/
{
    border: 0;
    padding: 0;
}

/***************************NAVBAR END************************************/
/**************************************************************************/
/***************************ERROR BEGIN***********************************/

.error
{
    background-color: rgba(184, 59, 56, 0.09);
    border-radius: 5px;
    color: rgba(214, 0, 26, 0.91);
    display: inline-block;
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
    position: absolute;
}

/****************************ERROR END***********************************/
/*************************************************************************/
/***************************CALENDAR TABLES BEGIN*************************/

.container-nobs
{
    position: relative;
    top: 62px;
}

.tables__month-title
{
    float: right;
    font-style: italic;
    text-align: right;
}

.tables__user-title
{
    font-style: italic;
    text-align: left;
}

.tables__left
{
    cursor: pointer;
    height: 248px;
    margin: 80px 0 0 0;
    padding: 215px 0 0 0;
    text-align: center;
}

.tables__left:hover
{
    background-color: rgba(55, 68, 145, 0.05);
}

.row
{
    margin: auto;
}

.tables__center
{
    margin: 20px 0 0 0;
    width: 820px;
}

.tables__right
{
    cursor: pointer;
    height: 248px;
    margin: 80px 0 0 0;
    padding: 215px 0 0 0;
    text-align: center;
}

.tables__right:hover
{
    background-color: rgba(55, 68, 145, 0.05);
}

.tables__arrow
{
    font-size: 50px;
    vertical-align: middle;
}

table
{
    width: 100%;
}

.table__loading
{
    background: url(/static/pic/loading.gif);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    height: 300px;
    margin: 50px auto;
    width: 300px;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

td
{
    border: #2f2f2f 1px solid;
    color: black;
    font-size: larger;
    height: 65px;
    padding: 0 !important;
    position: relative;
    text-align: center !important;
    vertical-align: middle !important;
    width: 14%;
}

.td-top
{
    position: absolute;
    right: 0;
    top: 0;
}

.td-top__alarm
{
    color: rgb(135, 7, 0);
    cursor: pointer;
    font-size: large !important;
}

.td-top__edit
{
    cursor: pointer;
    display: none !important;
    font-size: large !important;
}

td:hover .td-top__edit, td:hover .td-bottom__info-pic
{
    display: inline-block !important;
}

.td-top__loading
{
    background: url(/static/pic/loading.gif);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    display: inline-block;
    height: 18px;
    vertical-align: top;
    width: 18px;
}

td span
{
    display: inline-block;
}

.td-center__smile
{
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 40px;
}

.td-center__arrow
{
    cursor: pointer;
    font-size: x-large !important;
    font-weight: bold !important;
    margin: 0 5px 0 5px;
    position: relative;
    top: 5px;
}

.td-bottom
{
    bottom: -5px;
    position: absolute;
    right: 0;
}

.td-bottom__confirm
{
    cursor: pointer;
    font-size: medium !important;
}

.td-bottom__cancel
{
    cursor: pointer;
    font-size: medium !important;
}

.td-bottom__info-pic
{
    display: none;
    height: 18px;
    width: 18px;
}

/***************************CALENDAR TABLES END****************************/
/**************************************************************************/
/*****************************COLORS OF CELLS BEGIN***********************/

/*1*/
td[data-value$="4"]
{
    background-color: #36d12e;
}

/*3/4*/
td[data-value$="3"]
{
    background-color: rgba(54, 209, 46, 0.7);
}

/*2/4*/
td[data-value$="2"]
{
    background-color: rgba(54, 209, 46, 0.45);
}

/*1/4*/
td[data-value$="1"]
{
    background-color: rgba(124, 209, 60, 0.35);
}

/*0*/
td[data-value$="0"]
{
    background-color: rgba(209, 189, 152, 0.35);
}

/*другие месяцы*/
.other-month .date
{
    color: #898989;
}

/*неотмеченные остались белым*/

/*****************************COLORS OF CELLS END***********************/
/**************************************************************************/
/*****************************PIC BACK CELLS BEGIN***************************/

/*1*/
td[data-value$="4"] .td-center__smile
{
    background: url(/static/pic/smile/smile_04.png);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

td[data-value$="4"] .td-bottom__info-pic
{
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/*3/4*/
td[data-value$="3"] .td-center__smile
{
    background: url(/static/pic/smile/smile_03.png);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

td[data-value$="3"] .td-bottom__info-pic
{
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/*2/4*/
td[data-value$="2"] .td-center__smile
{
    background: url(/static/pic/smile/smile_02.png);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

td[data-value$="2"] .td-bottom__info-pic
{
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/*1/4*/
td[data-value$="1"] .td-center__smile
{
    background: url(/static/pic/smile/smile_01.png);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

td[data-value$="1"] .td-bottom__info-pic
{
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/*0*/
td[data-value$="0"] .td-center__smile
{
    background: url(/static/pic/smile/smile_00.png);
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

td[data-value$="0"] .td-bottom__info-pic
{
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/*****************************PIC BACK CELLS END*************************/
/**************************************************************************/
/***************************HELLO BEGIN***********************************/

.section
{
    font-family: Matias;
    line-height: 1.5;
    /*padding-left: 100px;
    padding-right: 100px;*/
    text-align: center;
}

.section1
{
    background: rgba(69, 192, 255, 0.21);
    background: -moz-linear-gradient(top, rgba(69, 192, 255, 0.41), rgba(64, 240, 243, 0.20));
    background: -webkit-linear-gradient(top, rgba(69, 192, 255, 0.41), rgba(64, 240, 243, 0.20));
    background: -o-linear-gradient(top, rgba(69, 192, 255, 0.41), rgba(64, 240, 243, 0.20));
    background: -ms-linear-gradient(top, rgba(69, 192, 255, 0.41), rgba(64, 240, 243, 0.20));
    background: linear-gradient(top, rgba(69, 192, 255, 0.41), rgba(64, 240, 243, 0.20));
    padding: 0 75px 0 75px;
}

.section1__logo
{
    float: right;
    height: 200px;
}

.section1__content
{
    text-align: center;
    width: 700px;
}

.section1__title
{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: sub;
}

.section1__title-blue
{
    color: rgb(214, 211, 45);
}

.section1__text
{
    display: inline-block;
    font-size: 30px;
    margin: 20px auto 0 auto;
    text-align: left;
    vertical-align: middle;
}

.section1__pulse
{
    animation-duration: 3s !important;
    -webkit-animation-duration: 3s !important;
    -moz-animation-duration: 3s !important;
    -o-animation-duration: 3s !important;
}

.section8/*2*/
{
    background: url(/static/pic/hello/calendar_opacity2.png) right bottom no-repeat;
    background-size: 50%;

}

.section2__content
{
    position: absolute;
    top: 100px;
}

.section2__title
{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 0.5;
}

.section2__text
{
    font-size: 30px;
}

.section3
{
    background: rgba(64, 240, 243, 0.20);
    background: -moz-linear-gradient(top, rgba(64, 240, 243, 0.20), rgba(113, 243, 136, 0.40));
    background: -webkit-linear-gradient(top, rgba(64, 240, 243, 0.20), rgba(113, 243, 136, 0.40));
    background: -o-linear-gradient(top, rgba(64, 240, 243, 0.20), rgba(113, 243, 136, 0.40));
    background: -ms-linear-gradient(top, rgba(64, 240, 243, 0.20), rgba(113, 243, 136, 0.40));
    background: linear-gradient(top, rgba(64, 240, 243, 0.20), rgba(113, 243, 136, 0.40));
    padding: 0 200px 0 200px;
}

.section3__title
{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
}

.section3__text
{
    font-size: 30px;
    margin: 20px 0 0 0;
    text-align: left;
    width: 500px;
}

/*.section3__img
{
    width: 300px;
}

.section3__img img
{
    display: block;
    margin: auto;
}

.section3__cell
{
    border: black 1px solid;
}*/

.section4
{
    background: rgba(113, 243, 136, 0.20);
    background: -moz-linear-gradient(top, rgba(113, 243, 136, 0.40), rgba(204, 220, 209, 0.16));
    background: -webkit-linear-gradient(top, rgba(113, 243, 136, 0.40) 30%, rgba(204, 220, 209, 0.16));
    background: -o-linear-gradient(top, rgba(113, 243, 136, 0.40), rgba(204, 220, 209, 0.16));
    background: -ms-linear-gradient(top, rgba(113, 243, 136, 0.40), rgba(204, 220, 209, 0.16));
    background: linear-gradient(top, rgba(113, 243, 136, 0.40), rgba(204, 220, 209, 0.16));
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.section4__alarm
{
    color: red;
    font-size: 100px !important;
    vertical-align: middle;
}

.section5
{
    background: url(/static/pic/hello/сharts_opacity.png) right bottom no-repeat;
    background-size: 100%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.section6__title
{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    padding: 50px 0 50px 0;
}

.section6__content-block
{
    height: 200px;
    margin: auto;
    padding: 10px;
    width: 500px;
}

.section6__text
{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    width: 275px;
}

.section6__text-title
{
    font-size: 25px;
    font-weight: bold;
}

.section6__img
{
    border-radius: 100px;
    display: inline-block;
    height: 200px;
}

.section7__content-block
{
    margin: 100px 0 100px 0;
}

.section7__title
{
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    padding: 50px 0 5px 0;
}

.section7__text
{
    font-size: 25px;
    padding: 5px 50px 5px 50px;
    text-align: left;
    width: 930px;
}

.section7__text-title
{
    font-size: 35px;
    font-weight: bold;
}

.section7__alarm
{
    color: red;
}

.section7__img
{
    border-radius: 80px;
    height: 160px;
}

.section8
{
    padding: 0 100px 0 100px;
}

.section8__text
{
    font-size: 30px;
    text-align: left;
    top: 100px;
}

.section8__text-title
{
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.section8__text-center
{
    margin-top: 20px;
    text-align: center;
}

.section8__block-bottom
{
    bottom: 0;
    font-size: 35px;
    font-weight: bolder;
    left: 45%;
    position: absolute;
    text-align: center;
}
/*.section3__text .arrow-down
{
    width: 25px;
}

.section3__img .arrow-down
{
    padding: 10px;
    width: 15px;
}*/

/***************************HELLO END*************************************/
/*************************************************************************/
/*****************************SETTINGS BEGIN**************************/

.settings
{
    padding: 50px 350px 0 350px;
    position: relative;
    top: 62px;
}

.settings__title
{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.settings__form
{
    margin: 70px auto 0 auto;
}

.settings__text
{
    font-size: large !important;
}

.settings__text-valign
{
    padding-top: 12px !important;
}

.settings__help
{
    display: inline-block;
    font-size: 20px !important;
    vertical-align: middle;
}

.settings__help-hover
{
    display: none !important;
}

.settings__help:hover .settings__help-hover
{
    display: inline !important;
}

.settings__help:hover .settings__help-disactive
{
    display: none !important;
}

.settings__help .popover
{
    font-size: 15px;
}

.settings__form input[type="text"]
{
    height: 30px;
}

.settings__form .control-label
{
    text-align: left;
    width: 200px;
}

.settings__form .controls
{
    margin: 0 0 0 220px;
}

.settings__btns
{
    margin: 40px auto 0 auto;
    text-align: center;
}

.settings .fadeOut
{
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
}

.save-success
{
    color: #4bb1cf;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 10px;
}

/*****************************SETTINGS END********************************/
/**************************************************************************/
/*****************************MEDIA BEGIN*******************************/

@media screen and (min-device-width: 1278px) and (min-device-height: 1022px)
{
    .container
    {
        width: 1000px;
    }

    .tables__center
    {
        margin: 100px 0 0 0;
        width: 880px;
    }

    .tables__left, .tables__right
    {
        margin: 160px 0 0 0;
    }

    td
    {
        height: 65px;
    }
}

@media screen and (min-device-width: 1920px)
{
    /*************For pic****************/
    .section1
    {
        padding: 0 200px 0 200px;
    }

    .section1__logo
    {
        height: auto;
    }

    .section1__content
    {
        width: 1000px;
    }

    .section1__title
    {
        font-size: 50px;
    }

    .section1__text
    {
        font-size: 40px;
    }

    .section2
    {
        background-size: 70%;
    }

    .section2__content
    {
        left: 200px;
        top: 200px;
    }

    .section2__title
    {
        font-size: 50px;
    }

    .section2__text
    {
        font-size: 40px;
    }

    .section3
    {
        padding: 0 300px 0 300px
    }

    .section3__title
    {
        font-size: 60px;
    }

    .section3__content
    {
        font-size: 50px;
        margin: 50px 0 0 0;
        width: 600px;
    }

    .section3__text
    {
        width: 700px;
    }

    .section4
    {
        font-size: 60px;
    }

    .section5
    {
        font-size: 60px;
    }

    .section6__title
    {
        font-size: 60px;
    }

    .section7__img
    {
        border-radius: 150px;
        height: 300px;
    }

    .section7__text
    {
        font-size: 35px;
        width: 1300px;
    }

    .section7__text-title
    {
        font-size: 45px;
    }

    .section8
    {
        background-size: 55%;
    }

    .section8__text
    {
        font-size: 35px;
        margin: 0 auto 100px auto;
        text-align: left;
        width: 1300px;
    }

    .section8__text-title
    {
        font-size: 35px;
        margin-bottom: 100px;
    }

    .section8__text-center
    {
        margin-top: 50px;
    }

    /***********************FOR SETTINGS******************/
    .settings
    {
        padding: 50px 650px 0 650px;
    }

    /*************For tables****************/
    /*.container
    {
        width: 1200px;
    }

    .tables__center
    {
        width: 1080px;
    }

    .tables__left, .tables__right
    {
        height: 299px;
        padding: 270px 0 0 0;
    }

    td
    {
        height: 80px;
    }

    .td-bottom
    {
        bottom: -3px;
    }

    .td-top__alarm, .td-top__edit, .td-bottom__cancel, .td-bottom__confirm
    {
        font-size: large !important;
    }

    .td-top__loading
    {
        vertical-align: 1px;
    }

    .td-center span
    {
        font-size: x-large;
    }

    .td-center__arrow
    {
        font-size: xx-large !important;
    }

    .td-center__smile
    {
        width: 60px;
    }

    tr:first-child
    {
        font-size: x-large;
    }*/
}

/*****************************MEDIA END*********************************/
/*************************************************************************/
/***************************HELPERS BEGIN**********************************/

.inlineblock
{
    display: inline-block;
}

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}

.valign
{
    vertical-align: middle;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.test-color
{
    background: linear-gradient(rgb(150, 154, 198), rgb(99, 111, 143));
}

.control-label
{
    cursor: default;
}

/***************************HELPERS END************************************/