{% for form in AjaxForms.forms %}
    <form id="{{ form.form_id }}" class="{{ form.class_name }}" style="display: none;">
        {% for field in form %}
            {{ field.as_hidden }}
        {% endfor %}

        {% csrf_token %}
    </form>
{% endfor %}

<script>
    {% for form in AjaxForms.forms %}
        KP.forms.set('{{ form.form_name }}', new KP.Form($('#{{ form.form_id }}'), '{% url form.action_url %}'));
    {% endfor %}
</script>