<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="/"><img src="/static/pic/logo/logo.png" class="nav__logo"></a></li>
            </ul>

            <ul class="nav pull-right">
                {% if request.user.is_authenticated %}
                    <!--li class="nav__li li-nobs"><a href="#">Оценить</a></li-->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="nav__li">{{ request.user.name }}</span>

                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ Factory.URLBuilder.build_index_page_url }}">Мой календарь</a></li>
                            <!--li><a href="#">Достижения</a></li>
                            <li><a href="#">Уведомления</a></li-->
                            <li><a href="{{ Factory.URLBuilder.build_settings_page_url }}">Настройки</a></li>
                        </ul>
                    </li>
                    <li><button class="js-signout btn btn-large btn-signout">Выход</button></li>
                {% else %}
                    <li><button class="js-show_auth btn btn-large btn-auth">Вход <span class="divider-nobs inlineblock">|</span> Регистрация</button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="js-auth_forms auth-forms">
    <button class="js-signin_vk btn-vk"><img src="/static/pic/btns/vk-btn.jpg" class="vk-btn"></button>
</div>

<script>
    $('.js-show_auth').on('click', function () {
        $('.js-auth_forms').toggle();
    });

    $('.js-signout').on('click', KP.utils.userSignout);
    $('.js-signin_vk').on('click', KP.utils.userSignin);
</script>