{% extends 'base.html' %}

{% block content %}
<div id="fullpage">
    <div class="section section1">
        <!--p class="section1__title">KaPin</p-->
        <img src="/static/pic/logo/logo.png" class="section1__logo">

        <div class="section1__content">
            <div class="section1__title">
                Календарик-пинарик поможет тебе
            </div>

            <div class="section1__text">
                - перестать прокрастинировать
                <br/>
                - увеличить продуктивность
                <br/>
                - осуществить задуманное!
            </div>

        </div>
    </div>

    <div class="section section8">
        <div class="section8__text">
            <div class="section8__text-title">
                Твои дела продвигаются медленно? Победы далеко за горами? <br/>
                Не знаешь, куда так незаметно утекает твое время? Тогда этот календарик для тебя!
            </div>

            <div class="section8__text-left">
                KaPin подскажет, когда ты ленился и откладывал дела на завтра, а когда хорошо работал <br/>
                и усердно трудился. Все, что от тебя требуется, &mdash; это оценивать каждый прожитый день.<br/>
                Благодаря календарику-пинарику многи люди стали понимать,
                как они используют свое время, изменили свою жизнь и добились успеха!<br/>

                <div class="section8__text-center">Попробуй и ты, вместе с KaPin!</div>
            </div>

            <!--Календарик-пинарик предназачен для того, чтобы каждый день человек оценивал, насколько он был эффективен.
            Этот способ мотивации, когда ты видишь, где трудился,<br/>
            а где ленился, уже помог многим людям поменять свой прежний образ жизни и добиться успеха!<br/>
            Присоединяйся к KaPin и начни достигать поставленных целей уже сейчас!-->

            <!--В календарике-пинарике ты закрашиваешь клетку дня так, насколько эффективно ты его провел.<br/>
            Этот календарик уже помог многим людям изменить свою жизнь и добиться успеха!<br/>
            Присоединяйся к Kapin и становись лучше уже сейчас!-->

            <!--В календарике-пинарике ты частично или полностью закрашиваешь клетку дня,
            чтобы показать, насколько продуктивен ты был сегодня. <br/>
            Этот способ самомотивации уже помог многим людям изменить свою жизнь и добиться успеха! <br/>
            Присоединяйся к KaPin и начинай быть лучше уже сейчас!-->


            <!--Раньше календарик-пинарик существовал только в бумажном виде, показывая людям,
            как быстро летит время. <br/>
            Несмотря на такой простой функционал, он помог многим людям
            в самомотивации на новые успехи. <br/>
            Мы решили сделать этот календарик более удобным и интересным для пользователей!-->
        </div>

        <div class="section8__block-bottom">
            Узнать больше<br/>
            <span class="material-icons">expand_more</span>
        </div>
    </div>

    <div class="section section7">
        <div class="section7__content-block">
            <div class="section7__text inlineblock valign text-right">
                <div class="section7__text-title">
                    Оцени свою продуктивность сегодня!
                </div>

                Каждый день оценивай, насколько хорошо ты поработал,
                и результаты не заставят себя ждать!<br/>
            </div>

            <img src="/static/pic/hello/smiles3.png" class="section7__img inlineblock"  >
        </div>

        <div class="section7__content-block">
            <img src="/static/pic/hello/cell.png" class="section7__img inlineblock text-left">

            <div class="section7__text inlineblock valign">
                <div class="section7__text-title">
                    Отмечайся вовремя!
                </div>

                На отметку дается два дня: сегодня и завтра.<br/>
                Иначе клетка в календарике будет считаться отмеченной с опозданием.<br/>
                Отличить несвоевременные оценки можно по такому красному будильнику

                <span class="material-icons section7__alarm valign">alarm</span>
            </div>
        </div>
    </div>

    <div class="section section7">
        <div class="section7__content-block">
            <div class="section7__text inlineblock valign text-right">
                <div class="section7__text-title">
                    Следи за статистикой и достижениями!
                </div>

                Заглядывая в Kapin, ты всегда сможешь увидеть, <br/>
                как эффективно тратишь свое время. <br/>
                Старайся быть лучше каждый день!
            </div>

            <img src="/static/pic/hello/charts.png" class="section7__img inlineblock">
        </div>

        <div class="section7__content-block">
            <img src="/static/pic/hello/share.png" class="section7__img inlineblock">

            <div class="section7__text inlineblock text-left valign">
                <div class="section7__text-title">Делись с друзьями!</div>
                Мотивируй друзей на новые успехи и рассказывай им о своих!
            </div>
        </div>
    </div>

    <!--div class="section section2">
        <div class="section2__content">
            <div class="section2__title">Зачем тебе KaPin?</div>

            <div class="section2__text">
                <br/>
                Календарик-пинарик отобразит,
                <br/>
                как эффективно ты тратишь свое время!
            </div>
        </div>
    </div-->

    <!--div class="section section6">
        <div class="section6__title">Что в нем особенного?</div>

        <div class="section6__content">
            <div class="section6__content-block inlineblock">
                <img src="/static/pic/hello/oneclick.png" class="section6__img">
                <div class="section6__text">
                    <div class="section6__text-title">Интуитивно-понятный интерфейс!</div>
                    KaPin максимально понятен и прост в использовании.
                    Отмечай свою продуктивность в один клик!
                </div>
            </div>

            <div class="section6__content-block inlineblock">
                <img src="/static/pic/hello/phone.jpg" class="section6__img">
                <div class="section6__text">
                    <div class="section6__text-title">Всегда под рукой!</div>
                    Больше нет необходимости дублировать календарик на бумаге.
                    Открывай KaPin и в телефоне, и в ноутбуке!
                </div>
            </div>

            <div class="section6__content-block">
                <img src="/static/pic/hello/share.png" class="section6__img">
                <div class="section6__text">
                    <div class="section6__text-title">Делись с друзьями!</div>
                    Мотивируй друзей на новые успехи и рассказывай им о своих!
                </div>
            </div>
        </div>
    </div-->

    <!--div class="section section3">
        <div class="section3__title">Как это работает?</div>

        <div class="section3__text">
            1. Выбери сегодняшний день<br/>
            2. Оцени свою продуктивность<br/>
            3. Подтверди свой выбор<br/>
            4. Вернись сюда завтра!-->
            <!--div class="section3__img floatright">
                <img src="/static/pic/calendar_cell_edit.png" class="section3__cell">

                <img src="/static/pic/arrow_down.png" class="arrow-down">

                <img src="/static/pic/calendar_cell_smile.png" class="section3__cell">

                <img src="/static/pic/arrow_down.png" class="arrow-down">
            </div>

            <div class="section3__text">
                <div>Выбери сегодняшний день</div>

                <img src="/static/pic/arrow_down.png" class="arrow-down">

                <div>Оцени свою продуктивность</div>

                <img src="/static/pic/arrow_down.png" class="arrow-down">

                <div>Подтверди свой выбор</div>
            </div-->
        <!--/div>
    </div>

    <div class="section section4">
            На отметку дается два дня: сегодня и завтра.
            <br/>Иначе клетка календаря
            <br/>будет помечена зловещим будильником!
            <br/>
        <span class="material-icons section4__alarm">alarm</span>
    </div>

    <div class="section section5">
        Статистика по месяцам и годам будет всегда под рукой!
    </div>
</div-->

{% endblock %}