{% extends 'base.html' %}

{% block content %}
    <div class="js-settings settings">
        <div class="settings__title">Настройки профиля</div>

        <form class="form-horizontal settings__form">
            <div class="control-group">
                <label class="control-label settings__text">
                    Имя пользователя
                    <div class="settings__help" >
                        <span class="material-icons settings__help-disactive">help_outline</span>
                        <span class="material-icons settings__help-hover js-popover"
                              data-content="Имя, отображаемое на странице с календарем"
                              data-toggle="popover"
                              data-trigger="hover"
                              data-placement="top">
                            help
                        </span>
                    </div>
                </label>

                <div class="controls">
                    <input type="text" class="js-name input-xlarge" value="{{ request.user.name }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label settings__text settings__text-valign">
                    Шкала отметок
                    <div class="settings__help">
                        <span class="material-icons settings__help-disactive">help_outline</span>
                         <span class="material-icons settings__help-hover js-popover"
                              data-content="Количество баллов для оценки продуктивности"
                              data-toggle="popover"
                              data-trigger="hover"
                              data-placement="top">
                            help
                        </span>
                    </div>
                </label>
                <div class="controls">
                    <button class="js-calendar_type btn btn-large" type="button" data-calendar-type="{{ Configs.CalendarConfig.CALENDAR_TYPE_2 }}">2</button>
                    <button class="js-calendar_type btn btn-large" type="button" data-calendar-type="{{ Configs.CalendarConfig.CALENDAR_TYPE_3 }}">3</button>
                    <button class="js-calendar_type btn btn-large" type="button" data-calendar-type="{{ Configs.CalendarConfig.CALENDAR_TYPE_5 }}">5</button>
                </div>
            </div>
        </form>

    <div class="settings__btns">
        <button class="js-save btn btn-large btn-primary btn-save" type="button">Сохранить</button>
        <h4 class="save-success">Изменения успешно сохранены!</h4>
    </div>
</div>

<script>
    var $settings = $('.js-settings'),
        $name = $settings.find('.js-name'),
        $calendar_types = $settings.find('.js-calendar_type'),
        $save = $settings.find('.js-save');

    $calendar_types.filter('[data-calendar-type="{{ request.user.calendar_type }}"]').addClass('btn-success');
    $calendar_types.on('click', function (event) {
        $calendar_types.removeClass('btn-success');
        $(event.target).addClass('btn-success');
    });

    var saveOnClick = function () {
        $save
            .off('click')
            .addClass('disabled');

        var form = KP.forms.get('UpdateSettingsForm');
        form.setFieldValue('name', $name.val());
        form.setFieldValue('calendar_type', $calendar_types.filter('.btn-success').data('calendar-type'));
        form.send(function () {
            $('.save-success')
                    .css({opacity: 1})
                    .animate({opacity: 0}, 2500);

            setTimeout(function () {
                $save
                    .on('click', saveOnClick)
                    .removeClass('disabled');
            }, 3000);
        });
    };
    $save.on('click', saveOnClick);

    $('.js-popover').popover();
</script>
{% endblock %}