{% extends 'base.html' %}

{% block content %}
    <div class="container container-nobs">
        <div class="js-table tables row">
            <div class="js-arrow_left tables__left span1">
                <span class="tables__arrow">&lsaquo;</span>
            </div>

            <div class="tables__center span10">
                <h3 class="tables__user-title inlineblock">{{ owner.name }}</h3>
                <h3 class="js-table_title tables__month-title inlineblock"></h3>
                <div class="js-table_holder"></div>
            </div>

            <div class="js-arrow_right tables__right span1">
                <span class="tables__arrow">&rsaquo;</span>
            </div>
        </div>
    </div>

    <script>
        var $table = $('.js-table'),
            $tableTitle = $table.find('.js-table_title'),
            $tableHolder = $table.find('.js-table_holder'),
            calendar = new KP.Calendar(
                    $tableTitle,
                    $tableHolder,
                    '{{ request.user.id }}',
                    '{{ owner.id }}',
                    KP.utils.getPageDate(),
                    {{ owner.calendar_type }}
            );

        $table.on('selectstart', function () { return false; });
        $table.on('dblclick', function () { return false; });

        KP.utils.onPopPageState(calendar);
        KP.utils.onPageHashChange(calendar);

        calendar.show('replace');

        $table.find('.js-arrow_left').on('click', function () { calendar.showPrev(); });
        $table.find('.js-arrow_right').on('click', function () { calendar.showNext(); });
    </script>
{% endblock %}